<div style="display: flex">
<div
  cdkDropList
  #firstList="cdkDropList"
  [cdkDropListData]="numbers"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="otherList"
  style="width: 25%;border: 1px solid orange">
  <div cdkDrag *ngFor="let number of numbers" class="item">{{number}}</div>
</div>

<div
  cdkDropList
  #otherList="cdkDropList"
  [cdkDropListData]="otherNumbers"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="firstList"
  style="width: 25%;border: 1px solid blue">
  <div cdkDrag *ngFor="let number of otherNumbers" class="item">{{number}}</div>
</div>
</div>
